#profile-header {
    height: 400px;
    padding-top: 120px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0d6f73;
    background-image: url("https://www.transparenttextures.com/patterns/absurdity.png");
    color: #FFFFFF;
}

#profile-header img {
    width: 200px;
    height: 200px;
}

header h2 {
    margin-top: 0;
}
