

.new-tweet textarea {
    width: 100%;
    border: none;
    border-bottom: 5px solid black;
    background-color: transparent;
}
main.container {
    display: flex;
    justify-content: space-between;
    /*justify-items: stretch;*/
}

.new-tweet {
    width: 100%;
    /*max-width: 600px;*/
}

.new-tweet textarea {
    width: 100%;
    box-sizing: border-box;
}

.new-tweet > form > div {
    font-family: 'Bungee', sans-serif;
    display: flex;
    justify-content: space-between;
}

#tweet-button {

    color: #FFFFFF;
    background-color: #4056A1;
}

.counter-over-limit {
    color: red;
}

